<h1>Stock Purchase</h1>
<h3>Enter information for a stock you recently bought</h3>

<%= render partial: "static/error", locals: {model: @stock_purchase } %>

<%= render partial: "form", locals: {stock_purchase: @stock_purchase}%>