<div class="text-center form-signin border border-primary rounded">
    <h1>Stock Tracker</h1>
    <h2>Please sign in</h2>

    <%= render "static/flash" %>

    <%= render "sessions/form" %>

    <br>
    <div class="border border-success">
        <%= fa_icon "github" %>
        <%= link_to "Login with Github", "/auth/github" %>
    </div>
</div>