<div class="text-center form-signin border border-primary rounded">
    <h1>Stock Tracker</h1>
    <h4>Please sign in</h4>

    <%= render "static/flash" %>

    <%= render "sessions/form" %>

    <br>
    <div class="border border-success bg-success">
        <%= fa_icon "github" %>
        <%= link_to "Login with Github", "/auth/github", class: "text-light" %>
    </div>
</div>