<h1>Log In to Stock Tracker</h1>

<% if flash[:message] %>
    <div>
        <%= flash[:message] %>
    </div>
<% end %>

<%= render "sessions/form" %>

<br>

<%= link_to "Login with Github", "/auth/github" %>