<div class="form-group row">
    <%= f.label :title, class: "col-sm-3 col-form-label" %>
    <%= f.text_field :title, class: "form-control col-sm-9" %>
</div>

<br><br>

<div class="d-flex justify-content-center">
    <%= f.submit class: "btn btn-header-color" %>
</div>