<h1 class="text-center">Edit Watchlist</h1>

<br>

<div class="d-flex justify-content-center">
    <%= form_for(@watchlist, url: user_watchlist_path(current_user, @watchlist)) do |f| %>
        <% render partial: "form", locals: {f: f}%>
    <% end %>
</div>