<h1 class="text-center">New Watchlist</h1>

<%= render partial: "static/error", locals: {model: @watchlist } %>

<br>

<div class="d-flex justify-content-center">
    <%= form_for(@watchlist, url: user_watchlists_path(current_user)) do |f| %>
        <% render partial: "form", locals: {f: f}%>
    <% end %>
</div>