<h1 class="text-center">Edit Portfolio</h1>

<br>

<div class="d-flex justify-content-center">
    <%= form_for(@portfolio, url: user_portfolio_path(current_user, @portfolio)) do |f| %>
        <% render partial: "form", locals: {f: f}%>
    <% end %>
</div>