<h1><%= @user.first_name %>'s Portfolios</h1>

<p><%= link_to "Add a New Portfolio", new_user_portfolio_path(@user) %></p>

<% @portfolios.each do |portfolio| %>
    <div>
        <%= link_to portfolio.title, user_portfolio_path(@user, portfolio)  %>
    </div>
<% end %>