<h1>New Portfolio</h1>

<% display_form_errors(@portfolio).each do |error| %>
    <%= error %><br><br>
<%end %>

<%= form_for(@portfolio, url: user_portfolios_path(current_user)) do |f| %>
    <% render partial: "form", locals: {f: f}%>
<% end %>
