<table class="table table-hover table-responsive-md">
    <thead class="thead-dark">
    <tr>
        <th scope="col" >Name</th>
        <th scope="col" class="text-center">Symbol</th>
        <th scope="col" class="text-center">Sector</th>
    </tr>
    </thead>
    <tbody>
    <% @stocks.each do |stock| %>
        <tr>
            <td><%= link_to stock.name, stock_path(stock) %></td>
            <td class="text-center"><%= stock.symbol %></td>
            <td class="text-center"><%= stock.sector %></td>
        </tr>
    <% end %>
    </tbody>
</table>