<h1>Sign Up for Stock Tracker </h1>
<h3>Fill out all the information below to get started</h3>

<% display_form_errors(@user).each do |error| %>
    <%= error %><br><br>
<%end %>

<%= form_for @user do |f| %>
    <%= render partial: "form", locals: {f: f }%>
    <%= f.submit "Sign Up" %>
<% end %>



