<h1>Sign Up for Stock Tracker </h1>
<h3>Fill out all the information below to get started</h3>

<%= form_for @user do |f| %>
    <%= render partial: "form", locals: {f: f }%>
    <%= f.submit "Sign Up" %>
<% end %>



