<div class="container text-center">
    <h1>Welcome to Stock Tracker!</h1>

    <h4>Keep Track of All Your Investments in One Place</h4>

    <br>

    <img src="assets/stock_home.jpg" class="img-fluid rounded mx-auto d-block img-resize" alt="Man Holding Tablet with Stock Info">

</div>
