// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mx-6 {
    margin-left: (16 * 1.5rem) !important;
    margin-right: (16 * 1.5rem) !important;
}

span.font-big {
    font-size: 18px;
    font-weight: 600;
    color: #ff7575;
}

.bolder {
    font-weight: 500;
}