// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-content {
    background: #ffc3c3;
    border-radius: 10px;
    padding: 50px 85px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.mx-7 {
    margin-left: (16px * 15) !important;
    margin-right: (16px * 15) !important;
}

.alignright {
    float: right;
}

span.font-big {
    font-size: 18px;
    font-weight: 600;
    color: #ff7575;
}